/* this part of the code is for the main page/index */

/*Navigation Bar*/

*
{
    margin: 0;
    padding: 0;
}

nav
{
    width: 100%;
    height: 100px;
    background-image: url("images/top_bar.jpg"); 
    position: fixed;
    top: 0;
    /*float:inline-start;*/
    
}

nav ul
{
    float: right;
    margin-right: 200px;
}

nav ul li
{
    display: inline-block;
    list-style: none;
    padding: 20px 8px;
}

.btn
{
    font-family: 'Courier New', Courier, monospace;
}

/* Body of the home page */

#bodyHome
{
    /*border: 2px solid royalblue; */
    background-color: black;
    margin-top: 100px;
    width: 100%;
    height: 837px;
    position: relative;
    position: fixed;
    align-items: center;
}



/* This part of the code is for the Portfolio page */

#portfolioBox
{
    border: 7px solid white;
    background-color: black;
    margin-top: 100px;
    margin-left: 50px;
    width: 350px;
    height: 650px;
    display: inline-block;
    position: relative; 
    
}

aside
{
    transform: rotate(270deg);
}

aside h1
{
    color:white;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside a
{
    text-decoration: none;
}


#portBoxV2
{
    background-color: #a2c1e2;
    top: 0;
    left:0;
    margin-top: 100px;
    margin-left: 553px;
    width: 350px;
    height: 650px;
    display: inline-block;
    display:flex;
    flex-direction: column;
    position:absolute;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    
}

#portBoxV2:hover
{
    opacity: 1;
}

#portBoxV3
{
    background-color:#ffe8b0;
    top: 0;
    left:0;
    margin-top: 100px;
    margin-left: 1362px;
    width: 350px;
    height: 650px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    position:absolute;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

#portBoxV3:hover
{
    opacity: 1;
}

aside h2
{
    color: black;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
 
}


/* This part of the code is for the Sketch | Art | Fanart | Photography layout page */

#gifs
{
    margin-top: 100px;
    margin-left: 0;
    width: 500px;
    height: 837px;
    display: inline-block;
    position: relative; 
    position: fixed;
}

#work
{
    background-color: black;
    margin-top: 100px;
    margin-left: 500px;
    width: 100%;
    height: 837px;
    display: inline-block;
    position: absolute;
    position: fixed;   
    overflow: auto;
}


#container
{
    margin-top: 5px;
    margin-left: 5px;
    width: 90%;
    height: 830px;
    position: relative;
    display: inline-block;
    overflow: auto;
} 

#artWork
{
    margin-top: 135px;
    margin-left: 150px;
    width: 400px;
    height: 600px;
    display: inline-block;
    position: relative;
}

#description
{
    margin-left: 150px;
    width: 500px;
    height: 400px;
    display: inline-block;
    position:relative;
    vertical-align: 100px;
}

#artWorkV2
{
    margin-top: 200px;
    margin-left: 150px;
    width: 600px;
    height: 400px;
    display: inline-block;
    position: relative;
    vertical-align: 100px;
}

#descriptionV2
{
    margin-left: 100px;
    width: 400px;
    height: 400px;
    display: inline-block;
    position: relative;
    vertical-align: 100px;
}

/* This part of the code is for the text formatation. */

.hr3
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #a2c1e2;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    width: 500px;
    height:400px;
    padding-top: 100px;
    position: relative;
    display: flex;
    display: inline-block;
}

.hr4
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #ffe8b0;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    width: 500px;
    height:400px;
    padding-top: 100px;
    position: relative;
    display: flex;
    display: inline-block;
}

.hr5
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    width: 500px;
    height:400px;
    padding-top: 30px;
    position: relative;
    display: flex;
    display: inline-block;
}

/* Body for the about page */

#mePhotos
{
    background-color: darkkhaki;
    margin-top: 100px;
    margin-left: 150px;
    width: 600px;
    height: 600px;
    position: relative;
    float: left;
}

#aboutMe
{
    /*background-color: darkkhaki;*/
    margin-top: 100px;
    margin-left: 850px;
    width: 900px;
    height: 600px;
    position: relative; 
}

#aboutMe .hr3
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #a2c1e2;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    width: 900px;
    height: 600px;
    padding-top: 0;
    position: relative;
    display: flex;
    display: inline-block;
}

 #aboutMe .hr5
 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: white;
    text-align: left;
    text-align: justify;
    margin-top: 0px;
    margin-left: 0px;
    width: 900px;
    height:600px;
    padding-top: 15px;
    position: relative;
    display: flex;
    display: inline-block;
 }


/* Bpdy for the contact page */

#thankYou
{
    background-color: darkkhaki;
    margin-top: 40px;
    margin-left: 500px;
    width: 800px;
    height: 800px;
    position: relative;
    display: inline-block;
}


