/* this part of the code is for the main page/index */

/*Navigation Bar*/

*
{
    margin: 0;
    padding: 0;
}

nav
{
    width: 100%;
    height: 100px;
    background-image: url("images/top_bar.jpg"); 
    position: fixed;
    top: 0;
}

nav ul
{
    float: right;
    margin-right: 200px;
}

nav ul li
{
    display: inline-block;
    list-style: none;
    padding: 20px 8px;
}

.btn
{
    font-family: 'Courier New', Courier, monospace;
}



/* Body background for the Home | Contact | About pages */

#bodyHome
{
    background-color: black;
    margin-top: 100px;
    width: 100%;
    height: 837px;
    position: relative;
    position: fixed;
    align-items: center;
}

/* This part of of the code is the "container" the gif animation of the home page is */

#TheShyArtist
{
    margin-top: 40px;
    margin-left: 450px;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 500px;
    display: inline-block;
    position: absolute;
}

/* This part of the code is for the text formation in the home page */

#welcome
{
    margin-top: 530px;
    margin-left: 450px;
    width: 1000px;
    height: 200px;
    display: inline-block;
    position: relative;
    z-index: 100;
}

#welcome .hr4 
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #ffe8b0;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    width: 1000px;
    height: 200px;
    padding-top: 10px;
    position: relative;
    display: flex;
    display: inline-block;
}

#welcome .hr5
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    width: 1000px;
    height: 200px;
    padding-top: 30px;
    position: relative;
    display: flex;
    display: inline-block;
}


/* This part of the code is for the Portfolio page */

/* "Box" of the big buttons [ Sketch | Art | Fanart | Photogrqhy ] */

#portfolioBox
{
    border: 7px solid white;
    background-color: black;
    margin-top: 100px;
    margin-left: 50px;
    width: 350px;
    height: 650px;
    display: inline-block;
    position: relative;  
}

/* This part is for the text formation of the protfolio page */
/* Aside rotates de text to the wished position */

aside
{
    transform: rotate(270deg);
}

aside h1
{
    color:white;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside a
{
    text-decoration: none;
}

/* "Box" of the big buttons but the "hover" version [ Sketch | Art ] */

#portBoxV2
{
    background-color: #a2c1e2;
    top: 0;
    left:0;
    margin-top: 100px;
    margin-left: 553px;
    width: 350px;
    height: 650px;
    display: inline-block;
    display:flex;
    flex-direction: column;
    position:absolute;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;   
}

#portBoxV2:hover
{
    opacity: 1;
}

/* "Box" of the big buttons but the "hover" version [ Fanart | Photogrqhy ] */

#portBoxV3
{
    background-color:#ffe8b0;
    top: 0;
    left:0;
    margin-top: 100px;
    margin-left: 1362px;
    width: 350px;
    height: 650px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    position:absolute;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

#portBoxV3:hover
{
    opacity: 1;
}

/* Text formation for the "hover" version of the first aside */

aside h2
{
    color: black;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* This part of the code is for the Sketch | Art | Fanart | Photography layout page */

/* "Box" for that the gifs can be inserted in as their own to sperate from the work "box" */

#gifs
{
    margin-top: 100px;
    margin-left: 0;
    width: 500px;
    height: 837px;
    display: inline-block;
    position: relative; 
    position: fixed;
}

/* Background base for the work layout */

#work
{
    background-color: black;
    margin-top: 100px;
    margin-left: 500px;
    width: 100%;
    height: 837px;
    display: inline-block;
    position: absolute;
    position: fixed;   
    overflow: auto;
}

/* This container holds the images of the work, along side with the text formation for the description */

#container
{
    margin-top: 5px;
    margin-left: 5px;
    width: 90%;
    height: 830px;
    position: relative;
    display: inline-block;
    overflow: auto;
} 

/* "box" for the vertical layout of the work images */

#artWork
{
    margin-top: 135px;
    margin-left: 150px;
    width: 400px;
    height: 600px;
    display: inline-block;
    position: relative;
}

/* "box" for the text for the layout that goes with the vertical formation of the work images */

#description
{
    margin-left: 150px;
    width: 500px;
    height: 400px;
    display: inline-block;
    position:relative;
    vertical-align: 100px;
}

/* "box" for the horizontal layout of the work images */

#artWorkV2
{
    margin-top: 200px;
    margin-left: 150px;
    width: 600px;
    height: 400px;
    display: inline-block;
    position: relative;
    vertical-align: 100px;
}

/* "box" for the text for the layout that goes with the horizontal formation of the work images */
#descriptionV2
{
    margin-left: 100px;
    width: 400px;
    height: 400px;
    display: inline-block;
    position: relative;
    vertical-align: 100px;
}

/* This part of the code is for the text formatation. */
/* this text is for the tittles that are in blue and it appears on the sketch and art pages */

.hr3
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #a2c1e2;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    width: 500px;
    height:400px;
    padding-top: 100px;
    position: relative;
    display: flex;
    display: inline-block;
}

/* this text is for the tittles that are in yellow and it appears on the fanart and photography pages */
.hr4
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #ffe8b0;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    width: 500px;
    height:400px;
    padding-top: 100px;
    position: relative;
    display: flex;
    display: inline-block;
}

/* this is for the regular text in white for the descripiions */
.hr5
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    width: 500px;
    height:400px;
    padding-top: 30px;
    position: relative;
    display: flex;
    display: inline-block;
}

/* Body for the about page */
/* "box" that contains the photo that apears on the about page*/

#mePhotos
{
    background-color: darkkhaki;
    margin-top: 100px;
    margin-left: 150px;
    width: 600px;
    height: 600px;
    position: relative;
    float: left;
}

/* "box" that contains the text about myself on the about page */

#aboutMe
{
    margin-top: 100px;
    margin-left: 850px;
    width: 900px;
    height: 600px;
    position: relative; 
}

/* Tittle text on the about page */

#aboutMe .hr3
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #a2c1e2;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    width: 900px;
    height: 600px;
    padding-top: 0;
    position: relative;
    display: flex;
    display: inline-block;
}

/* Body text on the about page */

 #aboutMe .hr5
 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: white;
    text-align: left;
    text-align: justify;
    margin-top: 0px;
    margin-left: 0px;
    width: 900px;
    height:600px;
    padding-top: 15px;
    position: relative;
    display: flex;
    display: inline-block;
 }


/* Body for the contact page */
/* this part is for the two animation gifs on the left [instagram icons] */

#socialL
{
    margin-top: 100px;
    margin-left: 450px;
    width: 150px;
    height: 500px;
    position: absolute;
    display: inline-block;
    vertical-align: 100px;
    z-index: 100;
}

/* this part is for the two animation gifs on the right [twitter and email icons] */
#socialR
{
    margin-top: 100px;
    margin-left: 1450px;
    width: 150px;
    height: 500px;
    position: absolute;
    display: inline-block;
    z-index: 100;   
}

/* this is for the center image of the contact page */
#thankYou
{
    margin-top: 40px;
    margin-left: 500px;
    width: 800px;
    height: 800px;
    position: absolute;
    display: inline-block;
}


